
:root {
  --primary: #140D2D;
  --secondary:#e0ff00;
  --font-krona-one: 'Krona One', sans-serif;
  --font-inter: 'Inter Variable', sans-serif;
  --font-plus-jakarta: 'Plus Jakarta Sans Variable', sans-serif;
}


@font-face {
  font-family: 'Krona One';
  src: url('./assets/fonts/Krona_One/KronaOne-Regular.ttf');
}


body {
  font-family: var(--font-inter);
}


.plusJakartaSans {
  font-family: var(--font-plus-jakarta);
}

.koranOne {
  font-family:var(--font-krona-one);
}


/* 
  COLOR CLASSE START 
*/
.primary-color {
  color: var(--primary);
}
.primary-bg-color {
  background-color: var(--primary);
}


.secondary-color {
  color: var(--secondary);
}
.secondary-bg-color { 
  background-color: var(--secondary) !important;
}

/* 
  COLOR CLASSE END 
*/
